.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container > h3 {
  margin-bottom: 0px;
}

.recomendedMovies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.allMovies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
