.container {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
  flex-direction: column;
}
.posterLarge {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.posterSmall {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
